  
  
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #000000;
    color: #ffffff;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


a, a:hover, a:active, a:focus, a:visited {
    color: rgba(var(--highlight-color), .6);
    text-decoration: none;
}

#refresh-page-btn {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 9999;
  background-color: #ffffff59;
  color: #ffffffb3;
  border: 1px solid #5a5a5a;
  border-radius: 4px;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 20px;
  opacity: 0.8;
}

#refresh-page-btn:hover {
  opacity: 1;
}


#main {
    display: flex;
    height: 100vh;
    width: 100vw;
}

#map {
    flex: 2 1 0;
    height: 100vh;
    background-color: #000000;
}

#title {
    position: absolute;
    top: 15px;
    left: 50px;
    z-index: 1000;
    color: rgba(255, 255, 255, 0.2);
    font-size: 1.5em;
    font-weight: bold;
    cursor: default;
}

.version {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    width: 100px;
    background-color: transparent;
    color: rgba(var(--highlight-color), .6);
    font-size: .6em;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    bottom: 0px; /* adjust as needed */
    left: 200px;
    z-index: 1001;
    pointer-events: none; 
}

#title:hover .version {
  visibility: visible;
  opacity: 1;
}


#info {
    flex: 1 1 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    overflow-y: scroll;
    padding: 10px;
    background-color: #000000;
    z-index: 1000;
}

#sidebar-info {
    padding:10px;
}

#sidebar-info h2 {
    text-align: center;
    font-size: 2.5em;
    padding-top: 0px;
    margin-bottom: -30px;
    color: #a1a1a1;
}

#sidebar-info h2 a {
    color: #a1a1a1 !important;
}

#sidebar-info p {
    font-size: 1.6em;
    color: #a1a1a1;
    margin-top: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.sb-flight-number {
    text-align: center;
}

.sb-route{
    text-align: center;
}

.sb-route h1 {
    color: #a1a1a1 !important;
    font-size: 1.6em !important;
    
}

.sb-route h2 {
    color: rgba(var(--highlight-color), 1) !important;
    font-size: 4em !important;
    margin-bottom: -25px !important;
}

.sb-route h3 {
    color: #a1a1a1 !important;
    font-size: 25px !important;
}

.sb-flight-info {
    padding-top: 20px;
    text-align: center;
    color: #a1a1a1 !important;
    font-size: 30px !important;
}

.sb-flight-info a {
    font-size: 20px !important;
}

.sb-icon-with-line {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin-bottom: -50px;
}

.center-line {
  position: absolute;
  height: 100%;
  width: 2px;
  background: repeating-linear-gradient(
    to bottom,
    rgba(var(--highlight-color), 0.5),
    rgba(var(--highlight-color), 0.5) 6px,
    transparent 6px,
    transparent 12px
  );
  z-index: 0;
}

.invalid-route-flag {
  color: red;
  font-size: 0.6em;
  vertical-align: super;
  margin-left: 4px;
}

#flight-counter {
    position: absolute;
    bottom: 0;               /* <-- This pins it to the bottom */
    right: 0;
    padding-right: 20px;
    font-size: 1em;
    text-align: center;
    color: #a1a1a1;
    z-index: 2000; /* Ensure it's above other elements */
}

/*# sourceMappingURL=L.Control.ResetView.min.css.map */
.leaflet-touch .leaflet-bar a:last-child{
    background-color: rgba(255, 255, 255, 0.1);
}
.leaflet-control-resetview a{
    cursor:pointer}
.leaflet-control-resetview a .leaflet-control-resetview-icon{
    display:inline-block;
    width:16px;
    height:16px;
    margin:7px;
    background-color:#b0b0b0;
    -webkit-mask-image:url("https://cdn.jsdelivr.net/npm/@drustack/leaflet.resetview/dist/redo-solid.svg");
    mask-image:url("https://cdn.jsdelivr.net/npm/@drustack/leaflet.resetview/dist/redo-solid.svg");
    -webkit-mask-repeat:no-repeat;
    mask-repeat:no-repeat;
    -webkit-mask-position:center;
    mask-position:center
}

#move-json-btn {
    position:fixed;
    bottom:20px;
    right:20px;
    z-index:3000;
    display:none;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.535);
}

#blackout-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 9999;
    display: none;
}

#downtime-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10000;
    display: none;
    cursor: pointer;
}

#weather-widget {
    padding: 10px;
    text-align: center;
    color: #ffffff;
}

#weather-widget h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: rgba(var(--highlight-color), .7);
}

.weather-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.weather-icon {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-icon svg {
    width: 100%;
    height: 100%;
}

.weather-temp {
    font-size: 6em;
    font-weight: bold;
    color: #e0e0e0;
    margin-bottom: 10px;
}

.weather-description {
    font-size: 1.8em;
    color: #a1a1a1;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.weather-details {
    text-align: center;
    font-size: 1.4em;
}

.weather-detail {
    margin-bottom: 8px;
    padding: 0 20px;
}

.detail-label {
    color: #a1a1a1;
}

.detail-value {
    color: #a1a1a1;
}

.weather-location {
    margin-top: 15px;
    font-size: .8em;
    color: #a1a1a1;
}